<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List of Task</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-label style="white-space: normal; font-weight:bold;">Today</ion-label>
      <div *ngFor="let date2 of dates">
        <div>       
              <button ion-item (click)="viewChore(todo.chore)">
                <ion-label style="white-space: normal;">{{ date2.chore }}</ion-label>
              </button>
      </div>
    </div>
  </ion-list>
  <ion-list>
    <div *ngFor="let todo of todos; let k = count">
      <div>
          <ion-label *ngIf="todo.localDateAlarm == tomorrowDate" style="white-space: normal; font-weight:bold;">{{todo.localDate}}{{k}}</ion-label>
              <button ion-item (click)="viewChore(todo.chore)" *ngIf="todo.localDateAlarm == tomorrowDate">
                <ion-label style="white-space: normal;">{{ todo.chore }}</ion-label>
              </button>
      </div>
    </div>
  </ion-list>
  <ion-list>
    <div *ngFor="let todo of todos; let j = index">
      <div>
          <ion-label *ngIf="todo.localDateAlarm == tomorrowDate2" style="white-space: normal; font-weight:bold;">{{todo.localDate}}</ion-label>
              <button ion-item (click)="viewChore(todo.chore)" *ngIf="todo.localDateAlarm == tomorrowDate2">
                <ion-label style="white-space: normal;">{{ todo.chore }}</ion-label>
              </button>
      </div>
    </div>
  </ion-list>
  <ion-list>
    <div *ngFor="let todo of todos; let j = index">
      <div>
          <ion-label *ngIf="todo.localDateAlarm == tomorrowDate3" style="white-space: normal; font-weight:bold;">{{todo.localDate}}</ion-label>
              <button ion-item (click)="viewChore(todo.chore)" *ngIf="todo.localDateAlarm == tomorrowDate3">
                <ion-label style="white-space: normal;">{{ todo.chore }}</ion-label>
              </button>
      </div>
    </div>
  </ion-list>
  <ion-list>
    <div *ngFor="let todo of todos; let j = index">
      <div>
          <ion-label *ngIf="todo.localDateAlarm == tomorrowDate4" style="white-space: normal; font-weight:bold;">{{todo.localDate}}</ion-label>
              <button ion-item (click)="viewChore(todo.chore)" *ngIf="todo.localDateAlarm == tomorrowDate4">
                <ion-label style="white-space: normal;">{{ todo.chore }}</ion-label>
              </button>
      </div>
    </div>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>