<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List of Task</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <div *ngFor="let todo of todos; let j = index">
      <div>
          <ion-label *ngIf="todo.localDateAlarm != todayDate && j >= 1" style="white-space: normal; font-weight:bold;">{{todo.localDate}}</ion-label>
          <ion-label *ngIf="todo.localDateAlarm == todayDate" style="white-space: normal; font-weight:bold;">Today</ion-label>
              <button ion-item (click)="viewChore(todo.chore)" *ngIf="todo.localDateAlarm == todayDate">
                <ion-label style="white-space: normal;">{{ todo.chore }}</ion-label>
              </button>
              <button ion-item (click)="viewChore(todo.chore)" *ngIf="todo.localDateAlarm != todayDate">
                <ion-label style="white-space: normal;">{{ todo.chore }}</ion-label>
            </button>
      </div>
    </div>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>