<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List of Task</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-label style="white-space: normal; font-weight:bold;" *ngIf="today != ''">Today</ion-label>
    <div *ngFor="let today of today; let j = index">
      <div>
        <ion-item-sliding>
          <button ion-item (click)="viewChore(today.chore)">
            <ion-label style="white-space: normal;">{{ today.chore }}</ion-label>
          </button>
          <ion-item-options>
            <button danger style="background-color:red" (click)="removeItem(today)">
              <ion-icon name="trash">Remove</ion-icon>
            </button>
            <button danger (click)="checkItem(today)">
              <ion-icon name="checkmark">Check</ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>
  </ion-list>
  <ion-list>
    <ion-label style="white-space: normal; font-weight:bold;" *ngIf="date2 != ''">{{ tomorrowDate}}</ion-label>
    <div *ngFor="let date2 of date2; let j = index">
      <div>
        <ion-item-sliding>
          <button ion-item (click)="viewChore(date2.chore)">
            <ion-label style="white-space: normal;">{{ date2.chore }}</ion-label>
          </button>
          <ion-item-options>
            <button danger style="background-color:red" (click)="removeItem(date2)">
              <ion-icon name="trash">Remove</ion-icon>
            </button>
            <button danger (click)="checkItem(date2)">
              <ion-icon name="checkmark">Check</ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>
  </ion-list>
  <ion-list>
    <ion-label style="white-space: normal; font-weight:bold;" *ngIf="date3 != ''">{{ tomorrowDate2}}</ion-label>
    <div *ngFor="let date3 of date3; let j = index">
      <div>
        <ion-item-sliding>
          <button ion-item (click)="viewChore(date3.chore)">
            <ion-label style="white-space: normal;">{{ date3.chore }}</ion-label>
          </button>
          <ion-item-options>
            <button danger style="background-color:red" (click)="removeItem(date3)">
              <ion-icon name="trash">Remove</ion-icon>
            </button>
            <button danger (click)="checkItem(date3)">
              <ion-icon name="checkmark">Check</ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>
  </ion-list>
  <ion-list>
    <ion-label style="white-space: normal; font-weight:bold;" *ngIf="date4 != ''">{{ tomorrowDate3}}</ion-label>
    <div *ngFor="let date4 of date4; let j = index">
      <div>
        <ion-item-sliding>
          <button ion-item (click)="viewChore(date4.chore)">
            <ion-label style="white-space: normal;">{{ date4.chore }}</ion-label>
          </button>
          <ion-item-options>
            <button danger style="background-color:red" (click)="removeItem(date4)">
              <ion-icon name="trash">Remove</ion-icon>
            </button>
            <button danger (click)="checkItem(date4)">
              <ion-icon name="checkmark">Check</ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>
  </ion-list>
</ion-content>