<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Task to do</h3>
    <ion-list>
        <ion-label style="white-space: normal; font-weight:bold;">Today</ion-label>
        <div *ngFor="let todo of todos; let j = index">
            <ion-item *ngIf="todo.localDateAlarm == todayDate">
                <ion-label style="white-space: normal;">{{ todo.chore }}</ion-label>
                <ion-checkbox (ionChange)="onChange(todo.chore)" value="todo.chore"></ion-checkbox>
            </ion-item>
        </div>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>