<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Chores to do {{todos.chore}}</h3>
    <ion-list >
    <ion-item *ngFor="let todo of todos">
            <div *ngIf="todo.localDateAlarm == localDate">{{todo.chore}}</div> 
    </ion-item>
</ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>